#### Question 1

In [1]:
import pandas as pd

# Define the column names, since the dataset does not have headers
column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status',
    'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
    'hours_per_week', 'native_country', 'income'
]

# Import the dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
df = pd.read_csv(url, header=None, names=column_names, na_values=' ?')

# Display the first few rows of the dataset
print(df.head())

# Check for missing values in each column
missing_values = df.isnull().sum()

# Display the columns with missing values and their counts
print(missing_values)

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K
age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

#### Question 2.1

In [3]:
import pandas as pd

# Load the dataset
column_names = [
    "age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
    "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
    "hours-per-week", "native-country", "income"
]

# Replace 'adult.data' with the path to your downloaded file if necessary
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
df = pd.read_csv(url, names=column_names, na_values=' ?', sep=',', skipinitialspace=True)

# Display the number of rows and columns
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 32561
Number of columns: 15

#### Question 2.2

Observations are specific data collected from observational units, which can be understand as a actual value for 'varaibles', and every individual obervation corresponds to a row in a tabular dataset.

Variables stand for the groups of quantities or characteristics that can be measured and recorded. Variables can assumed by more than one value from observations, every variable corresponds to a column in a tabular dataset.

#### Question 3

In [10]:
import pandas as pd

# Load the dataset
column_names = [
    "age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
    "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
    "hours-per-week", "native-country", "income"
]
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
df = pd.read_csv(url, names=column_names, na_values=' ?', sep=',', skipinitialspace=True)

# Overview of dataset
print("Dataset Info:")
print(df.info())

# Summary statistics
print("\nSummary Statistics (Numerical):")
print(df.describe())

# Summary statistics for all columns
print("\nSummary Statistics (All Columns):")
print(df.describe(include='all'))

# Frequency counts for a specific column
print("\nValue Counts for 'education':")
print(df['education'].value_counts())

# Missing values
print("\nMissing Values in Each Column:")
print(df.isna().sum())

# Number of unique values
print("\nUnique Values in Each Column:")
print(df.nunique())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

Summary Statistics (Numerical):
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

Summary Statistics (All Columns):
                 age workclass        fnlwgt education  education-num  \
count   32561.000000     32561  3.256100e+04     32561   32561.000000
unique           NaN         9           NaN        16            NaN
top              NaN   Private           NaN   HS-grad            NaN
freq             NaN     22696           NaN     10501            NaN
mean       38.581647       NaN  1.897784e+05       NaN      10.080679
std        13.640433       NaN  1.055500e+05       NaN       2.572720
min        17.000000       NaN  1.228500e+04       NaN       1.000000
25%        28.000000       NaN  1.178270e+05       NaN       9.000000
50%        37.000000       NaN  1.783560e+05       NaN      10.000000
75%        48.000000       NaN  2.370510e+05       NaN      12.000000
max        90.000000       NaN  1.484705e+06       NaN      16.000000

            marital-status      occupation relationship   race    sex  \
count                32561           32561        32561  32561  32561
unique                   7              15            6      5      2
top     Married-civ-spouse  Prof-specialty      Husband  White   Male
freq                 14976            4140        13193  27816  21790
mean                   NaN             NaN          NaN    NaN    NaN
std                    NaN             NaN          NaN    NaN    NaN
min                    NaN             NaN          NaN    NaN    NaN
25%                    NaN             NaN          NaN    NaN    NaN
50%                    NaN             NaN          NaN    NaN    NaN
75%                    NaN             NaN          NaN    NaN    NaN
max                    NaN             NaN          NaN    NaN    NaN

        capital-gain  capital-loss  hours-per-week native-country income
count   32561.000000  32561.000000    32561.000000          32561  32561
unique           NaN           NaN             NaN             42      2
top              NaN           NaN             NaN  United-States  <=50K
freq             NaN           NaN             NaN          29170  24720
mean     1077.648844     87.303830       40.437456            NaN    NaN
std      7385.292085    402.960219       12.347429            NaN    NaN
min         0.000000      0.000000        1.000000            NaN    NaN
25%         0.000000      0.000000       40.000000            NaN    NaN
50%         0.000000      0.000000       40.000000            NaN    NaN
75%         0.000000      0.000000       45.000000            NaN    NaN
max     99999.000000   4356.000000       99.000000            NaN    NaN

Value Counts for 'education':
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

Missing Values in Each Column:
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

Unique Values in Each Column:
age                  73
workclass             9
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       42
income                2
dtype: int64

#### Question 4

(a)
The reason that the columns analyzed by df.describe() is much more fewer than the actual number of columns is becuase df.describe only summarizes numerical columns by default. When analyzing a dataset containing categorical columns, the categorical columns won't appear in the summary unless you specify "include='all'".

(b)
The reason for this discrepancy is due to missing values. The "count" column for the output of df.describe() represents the number of non-missing values for each columns. Therefore, whenever a column exist missing values, the "count" will deduct this value from the total number of rows in the Dataframe, which causes the discrepancy for the values reported.

In [5]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Check the shape of the DataFrame
print(df.shape)

# Summary statistics of numeric columns
print(df.describe())

print(df.describe(include='all'))

(891, 15)
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

#### Question 5

Attributes is a variable representing the proerties of an object that comes without parentheses. It provides a direct access to data and usually used to get or set values (for example: number of columns) that does not require any computation process.

Method is a funcion to execute that comes with parentheses. It performs a action that may returns a result such as processing the data, which requires some level of processing and compution.

#### Question 6

Count: The number of non-null(NaN excluded) values in the column.

Mean: Sum of all the values divided by "count", which represents the avaerage value of the column. (central trendency)

STD: Standard deviation is 'the quare root of the average of the squared differences between each value and the mean', which is a measure of the dispersion or spread of the values in the column.

Min: Minimum is the smallest value in the column.

25%: The value below which 25% of the data points fall, also known as Q1.(25% values lie under this line)

50%: Median is the middle value of the column when all values are sorted in ascending order.

75%: The value below which 75% of the data points fall, also known as Q3.

Max: Maximum is the greatest value in the column.

#### Question 7

(a)
df.dropna() is perferred when you want to analyze only the complete data, since it helps to remove rows or colomns with missing value.

(b)
In contrast, del df['col'] is perferred when you want to remove an entire column from the dataFrame, which might cause the lost of potentially valuable data.

(c)
There are three main reasons make it important to apply del df['col'] first, including prevent the loss of useful data in rows, reduce the stress of analysis by reduing the size of the DataFrame and also helps maintain a better data proprocessing logic.

(d)
This is a combination of two df.dropna. The first step is applied todrop columns with sinificant missing data more than 30% in order to retain the informative parts of the dataset. The second step is used to drop rows with remaining missing data from the first setp, which ensures the dataset is clean for analyze. Before cleaning the dataset, the data shape is (891, 15); and after the cleaning, the data shape remians (712, 14).

In [4]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Before: Check the number of missing values in each column
missing_data_before = df.isna().sum()
print("Missing data (before):")
print(missing_data_before)

# Step 1: Drop columns with more than 30% missing values
threshold = len(df) * 0.3
df = df.dropna(thresh=threshold, axis=1)

# Step 2: Drop rows with any remaining missing values
df_cleaned = df.dropna()

# After: Check the number of missing values in each column
missing_data_after = df_cleaned.isna().sum()
print("\nMissing data (after):")
print(missing_data_after)

# Before and after shape comparison
print("\nData shape before cleaning:", (891, 15))
print("Data shape after cleaning:", df_cleaned.shape)

Missing data (before):
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Missing data (after):
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Data shape before cleaning: (891, 15)
Data shape after cleaning: (712, 14)

#### Question 8.1

In [5]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)


print(df.head())


result = df.groupby("embark_town")["age"].describe()
print(result)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
             count       mean        std   min    25%   50%   75%   max
embark_town
Cherbourg    130.0  30.814769  15.434860  0.42  21.25  29.0  40.0  71.0
Queenstown    28.0  28.089286  16.915396  2.00  17.50  27.0  34.5  70.5
Southampton  554.0  29.445397  14.143192  0.67  21.00  28.0  38.0  80.0

#### Question 8.2

First, df.describe() provides data for the entire column across all rows, which df.groupby("col1")["col2"].describe()for a column whthin groups defined by another column. Secondly, df.describe() shows all non-null values in the dataset. Thirdly, df.groupby("col1")["col2"].describe() helps processing data with specific subsets rather than df.describe()provides a overall sense of the dataset.

#### Question 8.3

ChatBots such as Chatgpt are much more reliable on fixing error when coding comparing to Google search. Their advantage is to analyze the specific codes we are dealing with and give instructions in direct and precise ways immediately. The biggest problem of using Google search is it always give a long-winded expalinanation, and it's much more inefficient.


A. 
Both Chatgpt and Google search gives the troubleshooting help quickly and precisely. Since the Chatbot gives the fixed coding direclty, it solves this error more quickly. 

B. 
Both Chatgpt and Google search finds the error and gives the instruction of cheking the URL at the first time.

C. 
Google gives the troubleshoot slower that Chatgpt. Chatgpt gives the instruction to check variable definition at the very beginning but Google does not.

D. 
Both Chatgpt and Google gives the right insturction, but Chatgpt is much more quickly and direclty.

E.
Chatgpt solves the error directly but Google does not provide the right method.

F.
Chatgpt gives the solution at the first step, and Google's answers are much more complex.

G.
Chatgpt gives instruction which are more clearly to fix this error.

#### Question 9

Yes. I did review those materials, but is doesn't helps that much to understand quckily, since I have no former experiences or knowledges with related contents.

#### Chatlog history

https://chatgpt.com/share/06e5e524-267a-45ce-8dd3-498efde8c859

Summary:

1. Dataset Introduction:
Adult (Census Income) Dataset: A dataset from the UCI Machine Learning Repository used for predicting income levels based on various demographic and economic attributes. It contains 48,842 records and 14 attributes.
2. Determining Dataset Dimensions:
To find the number of rows and columns in a pandas DataFrame, use df.shape which returns a tuple (rows, columns).                 
3. Observation in the Dataset:
An observation is a single individual's record, including various attributes like age, workclass, and income level.
4. Variable in the Dataset:
A variable (or feature) represents a specific characteristic of the data. In the Adult dataset, examples include age, workclass, education, and income.
5. Summarizing Dataset Columns:
df.describe(): Provides a summary of numerical columns (mean, standard deviation, min, max).                   
df.describe(include='object'): Summarizes categorical columns (unique values, top category, frequency).        
df.info(): Gives data types and missing values.                                                               
df.value_counts(): Shows frequency of categories in a specific column.                                        
df.nunique(): Shows the number of unique values in each column.                                              
df.agg(): Allows for custom aggregations.

https://chatgpt.com/share/6468a503-bd4b-44c6-9026-35a37f9d6a85 

The chat discusses why there is a difference between the dataset size shown by `df.shape` and the columns analyzed by `df.describe()`. The reason is that `df.describe()` only includes numeric columns by default, excluding non-numeric ones.
Next, a method to remove missing data from the Titanic dataset is provided: first, drop columns with a high percentage of missing values, then drop any remaining rows with missing data. This approach helps ensure a clean dataset for analysis. The explanation includes the steps and rationale, though executing the code was not possible due to a network issue.

https://chatgpt.com/share/672a5d12-499f-462d-935e-0abb54300bc1

Summary:

1. Overview of the Dataset:                                                                         
Dataset URL: Adult Income Dataset                                                                      
The dataset contains demographic information and income levels.                                            
2. Key Concepts:
Attributes vs. Methods:                                                                                         
Attributes (e.g., df.shape): Variables that provide information about the object without parentheses.         
Methods (e.g., df.describe()): Functions that perform actions on the object and require parentheses to call.   
Summary Statistics in df.describe():                                                                          
Count: Number of non-null entries.                          
Mean: Average value.                                                                       
Standard Deviation (std): Measure of dispersion. 
Min: Smallest value.                                                                     
25%: 25th percentile value.                                               
50% (Median): Middle value.                                                                                   
75%: 75th percentile value.                                                                                    
Max: Largest value.                                                                                     
3. Handling Missing Data: 
df.dropna(): Removes rows (or columns) with missing values.                                                    
del df['col']: Deletes entire columns.           
4. Example Approach to Cleaning Data: 
Step 1: Load the dataset and identify missing values.                                                      
Step 2: Remove columns with excessive missing values.                                                       
Step 3: Use df.dropna() to remove rows with any remaining missing values.                                   
Step 4: Report the shape and missing values before and after cleaning.                                       
5. Justification: 
Using del df['col']: Preferred for removing columns with too many missing values to retain valuable data.      
Using df.dropna(): Ensures that the remaining rows are complete, suitable for analysis without missing data issues.  
6. Example Results: 
Before Cleaning: The dataset had missing values in several columns.                                            
After Cleaning: The dataset had no missing values, with changes in the shape of the DataFrame reflecting the removal of incomplete rows or columns.

https://chatgpt.com/share/014118a8-736a-42c6-b2c2-2fab88c3b2d7

Summary:

1. df.dropna() vs. del df['col']:                                                   
df.dropna(): Removes rows with missing values.
del df['col']: Deletes a specific column.
2. Combining Both:
Deleting a column before removing rows can be useful if the column has many missing values.               
df.groupby("col1")["col2"].describe():
Groups data by col1 and provides statistics for col2 within each group.
3. Error Handling:
NameError: Check if the variable is defined and correctly named.                       
HTTPError 404: Verify the URL or try a different source.                       
SyntaxError: Check for unclosed parentheses.                             
AttributeError: Use the correct method name, describe.                               
KeyError: Ensure the column name exists and is correctly spelled.                   
NameError for column: Use column names as strings, not variables.